
/* Colores personalizados de header */
.custom-bg-primary {
  background-color: rgb(36, 97, 36); /* Verde institucional */
}


/* Estilo base de la tarjeta */
.card {
  background-color: #ffffff; /* color base */
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease; /* suaviza el efecto */
  padding: 20px;
}

/* Cuando el cursor pasa encima */
.card:hover {
  background-color: #f0f6ff; /* color al hacer hover */
  transform: translateY(-5px); /* se eleva un poco */
  box-shadow: 0 8px 16px  #15803d; /* sombra verde */
  border-color:  #15803d; /* borde verde más fuerte */
}

.custom-btn {
  background-color: rgb(36, 97, 36); /* verde corporativo */
  border: none;
  color: white;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: #15803d; /* verde más oscuro al pasar el mouse */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgb(36, 97, 36);
}

.text-creditsmart {
  color: rgb(36, 97, 36); /* verde corporativo */
}

.text-primary {
  color: rgb(36, 97, 36); /* verde corporativo */
}
 .text-green {
  color: rgb(36, 97, 36); /* verde corporativo */
}

.text-muted {
  color: #6c757d; /* color gris para textos secundarios */
}

.btn-success {
  background-color: rgb(36, 97, 36); /* verde corporativo */
  color: white; /* color del texto corregido */
}

.btn-success:hover {
  background-color: #15803d; /* verde más oscuro al pasar el mouse */
}

.btn-success-2{
  color: rgb(36, 97, 36); /* verde corporativo */
  border-color: rgb(36, 97, 36); /* borde verde */
}

.btn-success-2:hover {
  background-color: #15803d; /* verde más oscuro al pasar el mouse */
  border-color: #15803d;
}

.custom-bg-primary {
  background: linear-gradient(to bottom, rgb(36, 97, 36));
  color: #ffffff;
  padding: 3rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.custom-products-section {
    text-align: center;
    color: rgb(36, 97, 36);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Estilo del botón "Enviar Solicitud" en SweetAlert2 */
.swal-btn-enviar {
  background-color: rgb(36, 97, 36) !important;
  color: white !important;
  border: none !important;
  padding: 8px 30px !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  transition: background-color 0.3s ease !important;
  box-shadow: none !important;
}

.swal-btn-enviar:hover {
  background-color: #15803d !important;
}

.swal2-styled {
  background-color: rgb(36, 97, 36) !important;
  color: white !important;
  border: none !important;
  padding: 8px 30px !important;
  border-radius: 8px !important;
  cursor: pointer !important;
  font-size: 16px !important;
  transition: background-color 0.3s ease !important;
  box-shadow: none !important;
}

.swal2-styled:hover {
  background-color: #15803d !important;
}
